In [2]:
import numpy as np
import pandas as pd
import pandas_datareader.data as web
import matplotlib.pyplot as plt

In [8]:
tickers = ['FB', 'AAPL', 'NFLX', 'GOOG']
data = pd.DataFrame()
for t in tickers:
    data[t] = web.DataReader(t, data_source = 'yahoo', start = '2020-06-01')['Adj Close']

### Let us first look at the data and see the elements. I chose Jun 01,2020 to reduce my observations in the dataframe.

In [10]:
data

                    FB        AAPL        NFLX         GOOG
Date
2020-06-01  231.910004  321.850006  425.920013  1431.819946
2020-06-02  232.720001  323.339996  427.309998  1439.219971
2020-06-03  230.160004  325.119995  421.970001  1436.380005
2020-06-04  226.289993  322.320007  414.329987  1412.180054
2020-06-05  230.770004  331.500000  419.600006  1438.390015
2020-06-08  231.399994  333.459991  419.489990  1446.609985
2020-06-09  238.669998  343.989990  434.049988  1456.160034
2020-06-10  236.729996  352.839996  434.480011  1465.849976
2020-06-11  231.240005  347.141388  438.480011  1437.339966

In [11]:
### If I want to select the first row of the Dataframe
data.iloc[0]

FB       231.910004
AAPL     321.850006
NFLX     425.920013
GOOG    1431.819946
Name: 2020-06-01 00:00:00, dtype: float64

In [12]:
### If I want to select the first row of the Dataframe using 'loc' function
data.loc['2020-06-01']

FB       231.910004
AAPL     321.850006
NFLX     425.920013
GOOG    1431.819946
Name: 2020-06-01 00:00:00, dtype: float64